@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mr-1 {
  margin-right: 0.5vmin;
}

#canvas {
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  background: rgb(30, 30, 30);
}

.content {
  z-index: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 6vmin;
  flex-direction: column;
  align-items: center;
  .main-title {
    font-size: calc(7.5vmin + 10px);
    font-weight: 900;
    text-align: right;
    color: #fafafa;
  }
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    &.column {
      flex-direction: column;
    }
  }
  .main-box {
    width: 35vmin;
    height: 60vmin;
    border-radius: 20px;
    margin: 1.5vmin;
    padding: 1vmin;
    padding-top: 10vmin;
    background: rgba(255, 255, 255, 0.75);
    color: #555;
    &.expanded {
      width: 115vmin;
      height: 67vmin;
      padding-top: 3vmin;
      transition: all 1s;
      cursor: default;
      &:hover {
        background: rgba(255, 255, 255, 0.75);
      }

      .box-title {
        text-align: left;
        padding: 0 2vmin;
        font-size: calc(2vmin + 10px);
      }
    }
    .box-title {
      font-size: calc(1.5vmin + 10px);
      font-weight: 900;
      text-align: center;
      opacity: 0;
      transform: translateY(-20px);
      transition: all 0.5s;
    }
    .box-back {
      opacity: 0;
      transform: translateY(-20px);
      transition: all 0.5s 0.2s;
    }
    .box-container {
      opacity: 0;
      transform: translateY(-20px);
      transition: all 0.5s 0.5s;
    }
    .box-icon {
      text-align: center;
      padding: 4vmin 2vmin;
      font-size: calc(6vmin + 15px);
    }
    .box-description {
      padding: 2vmin 3vmin;
      text-align: center;
      font-size: calc(1vmin + 5px);
      height: 150px;
      .main-desc {
        font-weight: 600;
        font-size: 1.4em;
        margin-bottom: 1vmin;
      }
    }
    .box-brands {
      text-align: center;
      margin-top: 10vmin;
      font-size: calc(2vmin + 5px);
      i,
      svg {
        margin: 0 0.75vmin;
      }
    }
    transition: all 0.35s;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 1);
    }
  }
  .main-button {
    width: 100px;
    height: 100px;
    transition: all 0.2s;
    &:hover {
      width: 150px;
      height: 150px;
    }
  }
}

.main-box.is-visible {
  .box-back,
  .box-container,
  .box-title {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 5vmin);
    height: calc(100% - 10vmin);
    margin-top: 3vmin;
    padding: 0 2.5vmin;
    &.column {
      flex-direction: column;
    }
    .box-search {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .box-search-button {
        border: none;
        height: 100%;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 4px;
        margin-left: 5px;
        width: 80px;
        cursor: pointer;
        &:hover,
        &:focus {
          border-color: #2684ff;
          box-shadow: 0 0 0 1px #2684ff;
        }
      }
      .box-inputs {
        width: 60%;
        .box-search-input {
          width: calc(100% - 20px);
          padding: 9px;
          border: none;
          border-radius: 4px;
          font-size: 1em;
          margin-bottom: 10px;
          border: 1px solid hsl(0, 0%, 80%);
          &:focus,
          &:hover {
            border-color: #2684ff;
            box-shadow: 0 0 0 1px #2684ff;
          }
        }
        .basic-multi-select {
          width: 100%;
        }
      }
    }
    .bar-container {
      width: calc(50% - 20px);
      margin: 0 10px;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      &.expanded {
        width: calc(100% - 20px);
      }
      &.gray {
        background-color: rgba(160, 160, 160, 0.5);
      }
      &.padded {
        padding: 4vmin 2vmin;
      }
      &.rounded {
        border-radius: 15px;
      }
      &.column {
        flex-direction: column;
        justify-content: flex-start;
      }
      &.scroll {
        overflow: auto;
      }
      .title {
        font-size: 1.4em;
        font-weight: 800;
        text-align: center;
      }
      .sentiment-number {
        text-align: center;
        font-size: calc(15vmin + 10px);
        margin-bottom: 5vmin;
        font-weight: 900;
        .title {
          font-size: 0.2em;
        }
      }
    }
  }
}

.box-data {
  min-height: 150px;
  background: rgba(100, 100, 100, 0.85);
  color: #fafafa;
  width: calc(100% - 100px);
  margin: 0.5vmin;
  padding: 25px;
  border-radius: 10px;
  transition: all 0.2s;
  &:hover {
    background: rgba(60, 60, 60, 1);
    transform: scale(1.02);
  }
}

.box-menu {
  display: flex;
  justify-content: space-between;
  padding: 0 4vmin 0 1vmin;
  .box-back {
    font-size: calc(3vmin + 10px);
    cursor: pointer;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.001);
    }
  }
}

// .box-data grid
.box-data {
  font-size: 1.15vmin;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header . . sentiment"
    "text text text text";
  .box-data-header {
    grid-area: header;
    .box-data-user {
      margin-bottom: 0.25vmin;
    }
    .box-data-date {
      color: #cacaca;
    }
  }
  .box-data-text {
    grid-area: text;
    white-space: pre-wrap;
    font-size: 1.15vmin;
    overflow: hidden;
  }
  .box-data-sentiment {
    grid-area: sentiment;
    margin-left: auto;
    font-size: 1.65em;
    &.smile {
      color: #88fa88;
    }
    &.angry {
      color: #fa8888;
    }
  }
}

.cloud {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(160, 160, 160, 0.8);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(160, 160, 160, 0.4);
}

// Loader
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .loader-text {
    font-size: calc(1vmin + 10px);
    text-align: center;
  }
}
